/*

Material You 3 - Card

This component "Navigation Rail" has been built with 💚 by 
Riccardo Debellini (riccardo.debellini@gmail.com - riccardo.debellini@liceobottoni.edu.it) 
according to the Google guidelines on Material You available here "https://m3.material.io/components/cards/specs"

*/

/*MAIN COMPONENTS*/

.card-flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        align-content: stretch;
     
}
/*the card itself*/


.card {
    flex: 0.6 1 auto;
    background-color: var(--surface-container-highest);
    border-radius: 16px;
    padding-bottom: 12px;
    position: relative;
    transition: all .2s ease-in-out;
    margin: 16px;
}


.card-image-container {
    width: 100%;
}
.card-image {
    width: inherit;
    height: inherit;
    object-fit:cover;
    border-radius: 16px;
    opacity: 0.7;
    transition: all .2s ease-in-out;
    filter: grayscale(50%);
}


.card-text-container {
    width: 100%;
    padding-inline: 16px;
}
.card-title {
    font-size: 24px;
    font-weight: 500;
    color: var(--on-surface);
    margin-top:16px;
    margin-bottom: 16px;
}
.card-text {
    font-size: 16px;
    font-weight: normal;
    color: var(--on-surface);
    margin-top: 16px;
    margin-bottom: 16px;
}
.card-link {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
    margin-right: 16px;
}
.card:hover .card{
    background-color: var(--surface-container-high);
    
}
.card:hover .card-image{
    opacity: 1;
    filter: grayscale(0%);
    
}