.frame {
    color: var(--on-surface);
    margin-bottom: 20px;
    margin-top: 6px;
    margin-left: 92px;
    margin-right: 92px;
    font-size: 16px;
    font-family: Roboto;
    text-decoration: none;
}

.frame-link {
    color: var(--primary)
}

.frame-footer {
    color: var(--outline-variant);
    
}

@media screen and (max-width: 767px) {
    .frame {
        margin-left: 0px;
        margin-right: 0px;
    }
  }