body {
  --primary: rgb(162 216 161);
  --surface-tint: rgb(157 212 157);
  --on-primary: rgb(0 27 5);
  --primary-container: rgb(105 157 107);
  --on-primary-container: rgb(0 0 0);
  --secondary: rgb(189 208 185);
  --on-secondary: rgb(10 26 11);
  --secondary-container: rgb(131 150 129);
  --on-secondary-container: rgb(0 0 0);
  --tertiary: rgb(165 211 218);
  --on-tertiary: rgb(0 26 29);
  --tertiary-container: rgb(108 152 159);
  --on-tertiary-container: rgb(0 0 0);
  --error: rgb(255 186 177);
  --on-error: rgb(55 0 1);
  --error-container: rgb(255 84 73);
  --on-error-container: rgb(0 0 0);
  --background: rgb(16 21 16);
  --on-background: rgb(224 228 219);
  --surface: rgb(16 21 16);
  --on-surface: rgb(248 252 243);
  --surface-variant: rgb(66 73 64);
  --on-surface-variant: rgb(198 205 194);
  --outline: rgb(158 165 154);
  --outline-variant: rgb(126 133 123);
  --shadow: rgb(0 0 0);
  --scrim: rgb(0 0 0);
  --inverse-surface: rgb(224 228 219);
  --inverse-on-surface: rgb(39 43 38);
  --inverse-primary: rgb(32 82 40);
  --primary-fixed: rgb(185 240 184);
  --on-primary-fixed: rgb(0 22 3);
  --primary-fixed-dim: rgb(157 212 157);
  --on-primary-fixed-variant: rgb(11 63 24);
  --secondary-fixed: rgb(212 232 208);
  --on-secondary-fixed: rgb(6 20 7);
  --secondary-fixed-dim: rgb(184 204 181);
  --on-secondary-fixed-variant: rgb(42 58 42);
  --tertiary-fixed: rgb(188 235 242);
  --on-tertiary-fixed: rgb(0 20 23);
  --tertiary-fixed-dim: rgb(161 206 214);
  --on-tertiary-fixed-variant: rgb(8 60 66);
  --surface-dim: rgb(16 21 16);
  --surface-bright: rgb(54 58 53);
  --surface-container-lowest: rgb(11 15 11);
  --surface-container-low: rgb(24 29 24);
  --surface-container: rgb(28 33 28);
  --surface-container-high: rgb(39 43 38);
  --surface-container-highest: rgb(49 54 48);
}
