body {
  --primary: rgb(0 41 10);
  --surface-tint: rgb(55 105 60);
  --on-primary: rgb(255 255 255);
  --primary-container: rgb(27 76 35);
  --on-primary-container: rgb(255 255 255);
  --secondary: rgb(22 38 23);
  --on-secondary: rgb(255 255 255);
  --secondary-container: rgb(54 71 54);
  --on-secondary-container: rgb(255 255 255);
  --tertiary: rgb(0 39 43);
  --on-tertiary: rgb(255 255 255);
  --tertiary-container: rgb(26 73 79);
  --on-tertiary-container: rgb(255 255 255);
  --error: rgb(78 0 2);
  --on-error: rgb(255 255 255);
  --error-container: rgb(140 0 9);
  --on-error-container: rgb(255 255 255);
  --background: rgb(247 251 242);
  --on-background: rgb(24 29 24);
  --surface: rgb(247 251 242);
  --on-surface: rgb(0 0 0);
  --surface-variant: rgb(222 229 217);
  --on-surface-variant: rgb(31 38 30);
  --outline: rgb(62 69 60);
  --outline-variant: rgb(62 69 60);
  --shadow: rgb(0 0 0);
  --scrim: rgb(0 0 0);
  --inverse-surface: rgb(45 50 44);
  --inverse-on-surface: rgb(255 255 255);
  --inverse-primary: rgb(194 250 193);
  --primary-fixed: rgb(27 76 35);
  --on-primary-fixed: rgb(255 255 255);
  --primary-fixed-dim: rgb(0 53 15);
  --on-primary-fixed-variant: rgb(255 255 255);
  --secondary-fixed: rgb(54 71 54);
  --on-secondary-fixed: rgb(255 255 255);
  --secondary-fixed-dim: rgb(32 49 33);
  --on-secondary-fixed-variant: rgb(255 255 255);
  --tertiary-fixed: rgb(26 73 79);
  --on-tertiary-fixed: rgb(255 255 255);
  --tertiary-fixed-dim: rgb(0 50 56);
  --on-tertiary-fixed-variant: rgb(255 255 255);
  --surface-dim: rgb(215 219 211);
  --surface-bright: rgb(247 251 242);
  --surface-container-lowest: rgb(255 255 255);
  --surface-container-low: rgb(241 245 236);
  --surface-container: rgb(235 239 230);
  --surface-container-high: rgb(230 233 225);
  --surface-container-highest: rgb(224 228 219);
}
